# # Disable directory listing
# Options -Indexes

# # Prevent access to sensitive files and directories
# <FilesMatch "\.(htaccess|htpasswd|ini|log|sh|sql|conf)$">
#     Order Allow,Deny
#     Deny from all
# </FilesMatch>

# # Block access to sensitive directories
# <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteRule ^log/ - [F,L]
#     RewriteRule ^src/ - [F,L]
# </IfModule>

# <IfModule mod_rewrite.c>
#   RewriteEngine On
#   RewriteBase /pgrs-g6

#   # serve real files
#   RewriteCond %{REQUEST_FILENAME} -f [OR]
#   RewriteCond %{REQUEST_FILENAME} -d
#   RewriteRule ^ - [L]

#   # all other requests to front controller
#   RewriteRule ^ index.php [L,QSA]
# </IfModule>