body {
    margin: 0;
    background: #eef1f5;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

.camera-bg{
    background: url('./img/pgsrsBG.jpg') no-repeat center center/cover;
    position: relative;
    height: 100vh; /* keep full height */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera-box {
    width: 100%;
    max-width: 450px;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

video,
canvas {
    width: 100%;
    border-radius: 15px;
    background: #000;
    margin-bottom: 15px;
}

canvas {
    display: none;
}

h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
}

.btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 12px;
}

.btn-capture { background: #007bff; color: white; }
.btn-retake  { background: #ffcc00; color: black; display: none; }
.btn-use     { background: #28a745; color: white; display: none; }

/* Mobile Optimization */
@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }

    .btn {
        font-size: 14px;
        padding: 12px;
    }
}
