/* FONT */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000; 
    color: #e6e6e6;
}

/* NAVBAR */
.navbar {
    background: #000000 !important; 
    padding: 15px 0;
}

.navbar-brand {
    color: #00bfff !important; /* bright blue */
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-link {
    color: #00bfff !important;
    margin-left: 10px;
    transition: 0.3s;
}

.nav-link:hover,
.nav-link.active {
    color: #00bfff !important;
}

.dropdown-menu {
    background-color: #0e223f;
    border: none;
}

.dropdown-menu .dropdown-item {
    color: #c8daff;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #000000;
    color: #00bfff;
}

/* CAROUSEL */
.hero-img {
    height: 90vh;
    object-fit: cover;
    filter: brightness(60%);
}

.carousel-caption h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 10px #000;
    color: #00bfff;
}

.carousel-caption p {
    font-size: 1.2rem;
    text-shadow: 2px 2px 10px #000;
}

/* ABOUT SECTION */
#about {
    background-color: #112333;
    padding: 60px 0;
}

#about h2 {
    color: #00bfff;
}

#about p {
    color: #000000;
    line-height: 1.8;
}

/* CONTACT SECTION */
#contact h2 {
    color: #00bfff;
}

form {
    background: #0e2135;
    padding: 25px;
    border-radius: 10px;
}

form label {
    color: #bcd4ff;
}

form input,
form textarea {
    background-color: #00bfff;
    border: 1px solid #00bfff;
    color: #e6e6e6;
}

form input:focus,
form textarea:focus {
     border-color: #00bfff;
     box-shadow: 0 0 5px #00bfff;
}

.btn-dark {
    background-color: #00bfff;
    border: none;
}

.btn-dark:hover {
    background-color: #00bfff;
    color: #0b1a2b;
}

/* FOOTER */
footer {
    background-color: #0a1826;
    color: #c6d8ff;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}
